/*join_style.css*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway|Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    background-size: cover;
    height: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}


#videobg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

#left-arrow {
    height: 80px;
    margin-top: -40px;
    top: 50%;
    left: 10px;
    position: absolute;
}

#right-arrow {
    height: 80px;
    margin-top: -40px;
    top: 50%;
    right: 10px;
    position: absolute;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.wrapper-gradient {
    width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: 1s;
    position: absolute;
    z-index: -1;
}

.container {
    width: 600px;
    padding: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.logo > span {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

.checkbox {
    align-self: flex-start;
    margin-bottom: 10px;
}

.all {
    font-weight: bold;
    margin-bottom: 50px;
}

.css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0px;
    border: 0;
}

label {
    height: 26px;
    padding-left: 37px;
    display: inline-block;
    font-size: 17px;
    color: white;
    line-height: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

.join_form label { padding-left: 0; }

label:hover {
    opacity: 0.8;
}

.css-checkbox + label {
    transition: 0.5s;
    background-position: 0 -28px;
}

.css-checkbox:checked + label {
    background-position: 0 0;
}

label > span {
    font-size: 14px;
    color: #FFEC6A;
}

.css-label {
    background-image: url(../images/check-green.png);
}

.css-label-red {
    background-image: url(../images/check-red.png);
}

.css-label-yellow {
    background-image: url(../images/check-yellow.png);
}

.css-label-blue {
    background-image: url(../images/check-blue.png);
}

.text-box {
    width: 100%;
    height: 88px;
    overflow: auto;
    padding: 8px 12px 8px 12px;
    background-color: white;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 13px;}

footer {
    bottom: 20px;
    font-size: 13px;
    color: white;
    position: absolute;
}

#agree_content{
    width: 100%;
    height: 100%;
}

/*******/
/*join2*/
/*******/

.container_2 {
    width: 600px;
    padding: 60px;
    min-height: 100%;
    margin: 0 auto;
    display: none;
}

.join_form {
    text-align: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 50px;
}

.label {
    width: 79%;
    margin: 0 auto;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.9);
    align-self: flex-start;
}

.input {
    width: 80%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.y-m-d {
    width: 80%;
    margin: 0 auto 20px;
}

.y-m-d > input {
    width: 30%;
    float: left;
    align-self: flex-start;
}

#year {
    width: 30%;
    float: left;
    margin-right: 5%;
    font-size: 15px;
    padding: 10px;
}

#month {
    width: 30%;
    float: left;
    margin-right: 5%;
    font-size: 15px;
    padding: 10px;
}

#day{
    width: 30%;
    float: left;
    font-size: 15px;
    padding: 10px;
}

#gender {
    width: 80%;
    font-size: 15px;
    padding: 10px;
}

.choice {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
}

/*******/
/*join3*/
/*******/

.wrap {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    width: 800px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap > img {
    margin-bottom: 30px;
}

.p-main {
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
}

.p-serv {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.wrap-button {
    margin-top: 40px;
    display: flex;
}

.wrap-button > a {
    width: 220px;
    height: 70px;
    color: black;
    font-size: 18px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-button > a:nth-child(1) {
    margin-right: 20px;
}

.green {
    background-color: #21ffb7 !important;
}

#success{
    display:none;
}

.wrap{
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    width: 800px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}