<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Rabo</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="images/profile.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/join_style.css">
    <script src="js/app.js"></script>
</head>
<body>
<video autoplay muted loop id="videobg">
    <source src="images/background_vid.mp4" type="video/mp4">
</video>

<a href="join2.html" class="join_check_next"><img src="images/right-arrow-false.png" alt="right-arrow" id="right-arrow"></a>


<div class="wrapper">
    <div class="wrapper-gradient"></div>
    <div class="container">
        <div class="logo">
            <span>Welcome To Rabo!</span>
        </div>
        <form>
            <div class="checkbox all">
                <input id="box" class="css-checkbox " type="checkbox">
                <label for="box" class="css-label" id="allCheck">전체약관동의</label>
            </div>

            <div class="checkbox">
                <input id="box1" class="css-checkbox" type="checkbox">
                <label for="box1" class="css-label-red">이용약관동의 <span>(필수)</span></label>
            </div>
            <div class="text-box">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut commodi cum officia officiis
                perferendis porro qui quibusdam quod repudiandae. At eligendi fugit iusto minima nostrum, possimus sed.
                Aliquam, unde.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur dolore earum eos esse est
                fugiat id illum, labore maiores modi molestiae, mollitia nam quis reprehenderit sapiente velit? Eius,
                harum?
            </div>

            <div class="checkbox">
                <input id="box2" class="css-checkbox" type="checkbox">
                <label for="box2" class="css-label-yellow">개인정보수집이용 동의 <span>(필수)</span></label>
            </div>
            <div class="text-box">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut commodi cum officia officiis
                perferendis porro qui quibusdam quod repudiandae. At eligendi fugit iusto minima nostrum, possimus sed.
                Aliquam, unde.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur dolore earum eos esse est
                fugiat id illum, labore maiores modi molestiae, mollitia nam quis reprehenderit sapiente velit? Eius,
                harum?
            </div>

            <div class="checkbox">
                <input id="box3" class="css-checkbox" type="checkbox">
                <label for="box3" class="css-label-blue">만 19세 이상 확인 <span style="color: white;">(선택)</span></label>
            </div>
            <div class="text-box">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut commodi cum officia officiis
                perferendis porro qui quibusdam quod repudiandae. At eligendi fugit iusto minima nostrum, possimus sed.
                Aliquam, unde.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur dolore earum eos esse est
                fugiat id illum, labore maiores modi molestiae, mollitia nam quis reprehenderit sapiente velit? Eius,
                harum?
            </div>
        </form>
        <footer>
            Copyright&copy; 2019. 수원정보과학고등학교. All Rights Reserved.
        </footer>
    </div>
</div>
</body>
</html>