<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Rabo</title>
    <link rel="stylesheet" href="css/main_style.css">
    <link rel="shortcut icon" type="image⁄x-icon" href="images/profile.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<video autoplay muted loop id="videobg">
    <source src="images/background_vid.mp4" type="video/mp4">
</video>

<a href="#"><img src="images/playbutton.png" alt="play" id="play" width="250" height="250"></a>

<div class="nav">
    <img src="images/logo.png" alt="logo" class="logo">
    <ul>
        <span class="user-account"><a href="#"><b>관리자</b></a>님 반갑습니다</span>
        <li><a href="main.html">로그아웃</a></li>
        <li><a href="#">이용안내</a></li>
        <li><a href="#">고객센터</a></li>
    </ul>
</div>
</body>
</html>