/*main_style.css*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway|Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

#videobg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

#play {
    margin-top: -125px;
    margin-left: -125px;
    top: 50%;
    left: 50%;
    position: absolute;
    transition: 0.2s;
    animation-name: Shaking;
    animation-duration:0.8s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes Shaking {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

#play:hover {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    animation: none;
}

#wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
    overflow: hidden;
}

.nav {
    height: 50px;
    margin-top: 30px;
    padding: 0 100px 0 200px;
}

.logo {
    height: 40px;
    float: left;
}

.nav > ul {
    float: right;
    display: flex;
    padding-top: 15px;
}

.user-account {
    padding-right: 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    border-right: 0.5px solid rgba(255, 255, 255, 0.4);
}

.user-account > a {
    color: white;
}

.nav > ul > li {
    z-index: 100;
    width: 200px;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border-right: 0.5px solid rgba(255, 255, 255, 0.4);
}

.nav > ul > li:nth-last-child(1) {
    border: none;
}

.nav > ul > li > a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s all;
}

.nav > ul > li > a:hover {
    color: rgba(255, 255, 255, 0.4);
}

.font-card {
    margin: 500px 0 0 60px;
    color: white;
}

.main-font {
    font-size: 90px;
    letter-spacing: 3px;
    line-height: 90px;
    font-family: 'Righteous', cursive;
}

.serv-font {
    margin: 17px 0 0 3px;
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0.8;
}

.login-card {
    width: 170px;
    height: 230px;
    top: 500px;
    right: 0;
    padding-top: 17px;
    font-size: 14px;
    color: #00AFFF;
    background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    user-select: none;
}

.login-card:hover {
    cursor: pointer;
}

.login-card > img {
    bottom: 0;
    position: absolute;
}

.hidden {
    display: none;
}

.login {
    width: 400px;
    height: 500px;
    margin-top: -250px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    position: absolute;
    z-index: 5;
}

.login-logo {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    height: 60px;
}
/*추가된 코드*/
#error_login{
    height: 25px;
    color: red;
}

.login-text {
    margin-left: 40px;
    align-self: flex-start;
}

.loginId {
    width: 80%;
    margin-top: 5px;
    font-size: 15px;
    padding: 10px;
}

.pass-text {
    margin-top: 10px;
    margin-left: 40px;
    align-self: flex-start;
}

.loginPw {
    width: 80%;
    margin-top: 5px;
    font-size: 15px;
    padding: 10px;
}

#submit {
    width: 80%;
    height: 50px;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    background: linear-gradient(135deg, #8A2387, #E94057, #F27121);
}

.FAccount1 {
    color: #00AFFF;
    top: 367px;
    left: 50px;
    position: absolute;
    font-size: 15px;
}

.line {
    color: #00AFFF;
    top: 367px;
    left: 120px;
    position: absolute;
    font-size: 15px;
}

.FAccount2 {
    color: #00AFFF;
    top: 367px;
    right: 50px;
    position: absolute;
    font-size: 15px;

}

.FAccount2 > img {
    position: absolute;
    top: 3px;
    left: -20px;
}

.google {
    width: 80%;
    height: 50px;
    margin-top: 50px;
    background-color: #4285F4;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.google > img {
    border: 2px #4285F4 solid;
    border-radius: 5px;
    position: absolute;
}

.google > p {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#click_start{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}