@charset "UTF-8";

.keysearch {
    position: absolute;
    max-width: 200px;
    min-height: 30px;
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgb(236, 236, 236);
    z-index: 1000;
}

.keysearch > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    text-align: left;
}